---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@500&family=Roboto:wght@200;300;400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,300;1,400&display=swap');

body {
    font-size: 100%;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 300;
    color: #333333;
}

strong, strong a {
    font-weight: 400;
}

blockquote {
    color: #999999;
    font-family: 'Source Serif Pro', serif;
    font-weight: 400;
    text-align: justify;
    font-size: 100%;
    border: 0;
    line-height: 1.25em;
    padding: 1em 0em 1em 4em;
}

.site-header {
    font-variant: small-caps;
    background-color: #f0f0f0;
    border-bottom: 0.5px solid #c0c0c0;
    padding-top:    1.0em;
    padding-bottom: 1.0em;
    min-height: 110px;
 }
.site-footer {
    background-color: #28295b;
    border-top: 0.5px solid #c0c0c0;
}
.footer-col {
    margin-bottom:0;
    color: white;
}

.site-header a,
.site-header a:visited {
    font-weight: 500;
}

.site-nav .page-link:not(:last-child) {
    margin:0;
    padding: 0.25em .5em;
}
.site-nav a.page-link {
    padding: 0.25em .5em;
}
.site-nav a.page-link:hover,
.site-nav .page-link:not(:last-child):hover {
    text-decoration: none;
    background-color: #f9f9f9;
    border-radius: 0.25em;
    transition: 0.5s;
}

.site-title {
    color: #000090;
}
a.site-title:hover {
    text-decoration: none;
    color: #000090;
    background-color: #f9f9f9;
    margin-left:  -1.0em;
    padding-left: +1.0em;
    margin-right:  -1.0em;
    padding-right: +1.0em;
    border-radius: 0.25em;
    transition: 0.5s;
}


a, a:visited {
    color: #000090;
    color: #538377;
    color: #E1B604;
    color: #62b6a1;
    font-weight: 500;
}

a:hover {
    color: #E1B6047;
}

h1 a, h1 a:visited,
h2 a, h2 a:visited,
h3 a, h3 a:visited {
    font-weight: 300;
}

.site-title, .site-title:visited {
    font-family: Roboto Condensed;
    font-weight: 500;
    color: #000090;
}

.site-nav .page-link {
    color: #000090;
}

h1, h1.post-title, h2, h3, h4 {
    font-family: Roboto Condensed;
    font-weight: 500;
    padding-top: 1em;
    color: #000090;
}


h1 em {
    font-style: normal;
    font-weight: 300;
}

h1, .post-content h1  {
    font-size: 1.50em;
}
h4 {
    font-weight: 300;
}

.post-content h1  {
    border-bottom: 1px solid #000090;
}

h1.post-title {
    font-size: 2.5em;
    margin: 0;
}

h2, .post-content h2, { font-size: 1.25em; font-weight: 400;}
h3, h3 a { font-size: $small-font-size;}
h4, h4 a { font-size: 1.05em;font-weight: 300;
}

h1.page-heading {
    font-size: 2.5em;
}
h2.post-list-heading {
    font-size: 1.5em;
    border-bottom: 1px solid #000090;
}

.post-list h3, .post-list h3 a {
    display: inline;
    font-size: 1.0em;
    padding-top: 0em;
    padding-left: 0.5em;
}

.post-list > li {
    margin-bottom: 0px;
}

.post-content h1,
.post-content h2,
.post-content h3 {
    margin-top: 0px;
}

.post-meta {
 display: inline-block;
 min-width: 6em;
}

p.feed-subscribe {
    margin-bottom:0;
}


a.tag, .tag {
    color: #000090;
    border: 1px solid #000090;
    border-radius: 3px;
    padding: 1px 5px 0px 5px;
    margin-left: 1px;
    margin-right: 1px;
    font-size: 80%;
    font-weight: 300;
    transition: 0.5s;
}

a.tag:hover {
    color: white;
    text-decoration: none;
    background-color: #000090;
    border-radius: 3px;
    padding: 1px 5px 0px 5px;
    margin-left: 1px;
    margin-right: 1px;
    font-size: 80%;
    font-weight: 500;
    transition: 0.5s;
}


h4 {
    font-weight: 300;
    font-size: $small-font-size;
    color: #DB0073;
}
h3 {
    color: #d133ff;
}
